
.initial-render {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.open-button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content {
  position: absolute;
  background-color: white;
  padding: 20px 50px 50px 50px;
  border-radius: 5px;
  width: 450px;
  height: 500px;
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.389);
}


.form label {
  display: grid;
}

.form input {
  width: calc(100% - 20px);
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


.submit-button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}
